{% extends "landing.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/vendors/bootstrap-social/bootstrap-social.css">
{% endblock css %}

{% block body %}
    <section class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Cadastro</h2>            
            <div class="block">
                <div class="row clearfix">
                    <div class="col-md-6 column">
                        <form role="form" action="" method="POST">
                            <div class="form-group">
                                 <label>Nome</label>
                                 <input required type="text" class="form-control" name="name"/>
                            </div>
                            <div class="form-group">
                                 <label>Email</label>
                                 <input required type="email" class="form-control" name="email"/>
                            </div>
                            <div class="form-group">
                                 <label>Senha</label>
                                 <input required type="password" minlength="6"  class="form-control" name="pw" placeholder="Min. 6 caracteres"/>
                            </div>
                            <button type="submit" class="btn btn-block btn-cta-primary" tabindex="1">Enviar</button>
                        </form>
                    </div>
                    <div class="col-md-6 column">
                        <label>Ou</label>
                        <a class="btn-social btn btn-block btn-facebook" href="#">
                            <i class="fa fa-facebook"></i> Entrar com Facebook
                        </a>
                        <a class="btn-social btn btn-block btn-google-plus" href="#">
                            <i class="fa fa-google-plus"></i> Entrar com Google
                        </a>
                    </div>
                </div>
            </div><!--//block-->            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section>
{% endblock body %}