{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/vendors/bootstrap-social/bootstrap-social.css">
{% endblock css %}

{% block header %}
    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="#home">dossiebr</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">Como funciona?</a></li>
            <li><a href="/login">Entrar</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

        
{% endblock header %}

{% block content %}
    <section id="home" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">dossie<span class="highlight">br</span></h2>
            <p class="intro">Salve as notícias dos políticos da sua região e receba um resumo perto das eleições.</p>
            <p class="login-actions">
                <a class="btn-social btn btn-facebook" href="#"><i class="fa fa-facebook"></i> Entrar com Facebook</a>
                <a class="btn-social btn btn-google-plus" href="/login/google"> <i class="fa fa-google-plus"></i> Entrar com Google </a>
            </p>
            <ul class="meta list-inline"></ul>
        </div>
    </section>
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Como funciona?</h2>
            <p class="intro text-center">O doss.ie é uma plataforma que te ajuda a fiscalizar as promessas e resultados do seu candidato. Aqui você pode arquivar e gerenciar as notícias de um determinado candidato e periodicamente recebe um resumo destas notícias por email.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Gerencie seus candidatos</h3>
                        <p>Organize os candidados que você votou, os candidatos da oposição e futuros concorrentes da maneira que você preferir.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-paste"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Arquive notícias relacionadas</h3>
                        <p>Arquive as notícias boas e ruins de cada candidato durante o mandato para não esquecer de nenhum fato na hora de decidir o próximo voto.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Receba resumos períodicos</h3>
                        <p>Configure a periodicidade de seus resumos e receba as notícias por email, organizadas por candidatos ou categorias. Também é possível consultar as notícias direto do site.</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>            
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
     <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Conecte-se</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="last"><a href="mailto: giovaneliberato@gmail.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section>
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">dossiebr é um <a href="https://github.com/giovaneliberato/doss.ie">software livre</a> registrado pela licença <a href="http://www.gnu.org/licenses/gpl.html">GNU GPL v3.0</a></small>
        </div><!--//container-->
    </footer>
{% endblock %}