<div class="popover" tabindex="-1">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="form.addlinkform" novalidate ng-submit="saveLink($hide)">
            <p ng-bind-html="content"></p>
            <div class="form-group" ng-class="{'has-error': form.addlinkform.link.$invalid && form.addlinkform.$dirty}">
                <label for="">Salvar item</label>
                <input class="form-control" name="link" type="url" required placeholder="http://..." ng-model="data.url">
            </div>
            <div class="form-group">
                <ui-select multiple tagging tagging-label="(Criar marcação)" ng-model="data.tags"
                           theme="select2" style="width: 244px;" reset-search-input="true">
                    <ui-select-match placeholder="#tags e @candidatos">{[{ $item }]}</ui-select-match>
                    <ui-select-choices repeat="tag in data.foundTags track by $index | addHashPrefix: $select"
                        refresh="searchTags($select.search)" refresh-delay="0" ng-blur="$element.close()">
                      {[{ tag }]}
                    </ui-select-choices>
                </ui-select>
                <p class="help-block">Associe tags e candidatos a este item.</p>
            </div>
            <div class="form-actions text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>